CryptSample/proj.ios_mac/DerivedData
CryptSample/proj.ios_mac/CryptSample.xcodeproj/project.xcworkspace/contents.xcworkspacedata

CryptSample/proj.ios_mac/CryptSample.xcodeproj/xcuserdata

CryptSample/Resources/fonts

CryptSample/CMakeLists.txt
